<launch>
  <arg name="stage" default="1"/>
  <param name="stage_number"  value="$(arg stage)"/>
  <!-- <node pkg="hydrone_aerial_underwater_ddpg" type="combination_obstacle.py" name="obstacle" output="screen" /> -->
  <node pkg="hydrone_aerial_deep_rl" type="sac_stage_1.py" name="sac_stage_1" output="screen" />
</launch>
